---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=&ids=ETH,Sausage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35d3ca7c09f9794487f098683164e5ff5e8a574a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3110.30720738","price_date":"2021-10-01T00:00:00Z","price_timestamp":"2021-10-01T08:53:00Z","circulating_supply":"117746910","market_cap":"366229064372","market_cap_dominance":"0.1613","num_exchanges":"417","num_pairs":"51109","num_pairs_unmapped":"41315","first_candle":"2015-08-07T00:00:00Z","first_trade":"2015-08-07T00:00:00Z","first_order_book":"2018-08-29T00:00:00Z","rank":"2","rank_delta":"0","high":"4180.54803432","high_timestamp":"2021-05-11T00:00:00Z","1d":{"volume":"27756137243.09","price_change":"133.92850093","price_change_pct":"0.0450","volume_change":"-1851830064.44","volume_change_pct":"-0.0625","market_cap_change":"15809032424.98","market_cap_change_pct":"0.0451"},"7d":{"volume":"206260158428.65","price_change":"177.47506130","price_change_pct":"0.0605","volume_change":"-77326931365.92","volume_change_pct":"-0.2727","market_cap_change":"21172559492.59","market_cap_change_pct":"0.0614"},"30d":{"volume":"1154698809699.25","price_change":"-717.88871525","price_change_pct":"-0.1875","volume_change":"-69616428356.72","volume_change_pct":"-0.0569","market_cap_change":"-82981253263.18","market_cap_change_pct":"-0.1847"},"365d":{"volume":"14809238450810.16","price_change":"2757.64030238","price_change_pct":"7.8194","volume_change":"10102014439626.99","volume_change_pct":"2.1461","market_cap_change":"326439379619.15","market_cap_change_pct":"8.2041"},"ytd":{"volume":"13418288657491.19","price_change":"2136.70245064","price_change_pct":"2.1946","volume_change":"9457536299658.76","volume_change_pct":"2.3878","market_cap_change":"255174889700.37","market_cap_change_pct":"2.2978"}}]

        '
  recorded_at: Fri, 01 Oct 2021 08:53:42 GMT
recorded_with: VCR 6.0.0
