---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=&ids=ETH,BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35d3ca7c09f9794487f098683164e5ff5e8a574a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"44924.89528943","price_date":"2021-10-01T00:00:00Z","price_timestamp":"2021-10-01T08:53:00Z","circulating_supply":"18831287","max_supply":"21000000","market_cap":"845993596640","market_cap_dominance":"0.3726","num_exchanges":"392","num_pairs":"65321","num_pairs_unmapped":"5171","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63659.36541603","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"39675417367.12","price_change":"1802.73720601","price_change_pct":"0.0418","volume_change":"-673609112.70","volume_change_pct":"-0.0167","market_cap_change":"33993657443.84","market_cap_change_pct":"0.0419"},"7d":{"volume":"256478549626.34","price_change":"2001.25542834","price_change_pct":"0.0466","volume_change":"-123761443780.69","volume_change_pct":"-0.3255","market_cap_change":"37967107630.65","market_cap_change_pct":"0.0470"},"30d":{"volume":"1483941465778.21","price_change":"-3927.04499832","price_change_pct":"-0.0804","volume_change":"29287849103.80","volume_change_pct":"0.0201","market_cap_change":"-72582870873.97","market_cap_change_pct":"-0.0790"},"365d":{"volume":"20857205447785.54","price_change":"34246.43638294","price_change_pct":"3.2071","volume_change":"10206521252901.45","volume_change_pct":"0.9583","market_cap_change":"648390722125.90","market_cap_change_pct":"3.2813"},"ytd":{"volume":"18011686639277.32","price_change":"12046.41870711","price_change_pct":"0.3664","volume_change":"9950796631876.52","volume_change_pct":"1.2345","market_cap_change":"234883226477.79","market_cap_change_pct":"0.3844"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3110.30720738","price_date":"2021-10-01T00:00:00Z","price_timestamp":"2021-10-01T08:53:00Z",[...]
