---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=&ids=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35d3ca7c09f9794487f098683164e5ff5e8a574a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"43131.11527506","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T14:33:00Z","circulating_supply":"18830468","max_supply":"21000000","market_cap":"812179085991","market_cap_dominance":"0.3699","num_exchanges":"392","num_pairs":"65286","num_pairs_unmapped":"5163","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63657.52779947","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"38708633846.07","price_change":"815.55638674","price_change_pct":"0.0193","volume_change":"282692473.14","volume_change_pct":"0.0074","market_cap_change":"15394842343.37","market_cap_change_pct":"0.0193"},"7d":{"volume":"285053482192.56","price_change":"-1816.13351992","price_change_pct":"-0.0404","volume_change":"-68424031583.98","volume_change_pct":"-0.1936","market_cap_change":"-33910981738.25","market_cap_change_pct":"-0.0401"},"30d":{"volume":"1501229383952.00","price_change":"-4053.12893786","price_change_pct":"-0.0859","volume_change":"60582416839.20","volume_change_pct":"0.0421","market_cap_change":"-75007950457.38","market_cap_change_pct":"-0.0845"},"365d":{"volume":"20820286374107.82","price_change":"32452.69716873","price_change_pct":"3.0391","volume_change":"10169627920263.41","volume_change_pct":"0.9548","market_cap_change":"614583843377.59","market_cap_change_pct":"3.1103"},"ytd":{"volume":"17974765187678.43","price_change":"10252.39076704","price_change_pct":"0.3118","volume_change":"9913887153571.93","volume_change_pct":"1.2299","market_cap_change":"201064107648.06","market_cap_change_pct":"0.3290"}}]

        '
  recorded_at: Thu, 30 Sep 2021 14:39:28 GMT
recorded_with: VCR 6.0.0
