---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35d3ca7c09f9794487f098683164e5ff5e8a574a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"43440.40281168","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T12:41:00Z","circulating_supply":"18830393","max_supply":"21000000","market_cap":"817999857022","market_cap_dominance":"0.3697","num_exchanges":"392","num_pairs":"65285","num_pairs_unmapped":"5163","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63657.52779947","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"38265774061.29","price_change":"1303.77385365","price_change_pct":"0.0309","volume_change":"-2477441007.81","volume_change_pct":"-0.0608","market_cap_change":"24586095225.49","market_cap_change_pct":"0.0310"},"7d":{"volume":"284564093582.31","price_change":"-1506.84598330","price_change_pct":"-0.0335","volume_change":"-68913736287.83","volume_change_pct":"-0.1950","market_cap_change":"-28082659569.62","market_cap_change_pct":"-0.0332"},"30d":{"volume":"1500743512503.27","price_change":"-3743.84140124","price_change_pct":"-0.0793","volume_change":"60096545390.47","volume_change_pct":"0.0417","market_cap_change":"-69183640608.23","market_cap_change_pct":"-0.0780"},"365d":{"volume":"20819363558639.31","price_change":"32761.98470535","price_change_pct":"3.0681","volume_change":"10168705104794.91","volume_change_pct":"0.9547","market_cap_change":"620405543430.80","market_cap_change_pct":"3.1398"},"ytd":{"volume":"17973842372209.92","price_change":"10561.67830366","price_change_pct":"0.3212","volume_change":"9912964338103.42","volume_change_pct":"1.2298","market_cap_change":"206884878678.89","market_cap_change_pct":"0.3385"}}]

        '
  recorded_at: Thu, 30 Sep 2021 12:50:11 GMT
recorded_with: VCR 6.0.0
