---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=&ids=BTC,XRP,ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35d3ca7c09f9794487f098683164e5ff5e8a574a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"43167.32920343","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T14:38:00Z","circulating_supply":"18830468","max_supply":"21000000","market_cap":"812861011211","market_cap_dominance":"0.3699","num_exchanges":"392","num_pairs":"65286","num_pairs_unmapped":"5163","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63657.52779947","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"38708633846.07","price_change":"851.77031510","price_change_pct":"0.0201","volume_change":"282692473.14","volume_change_pct":"0.0074","market_cap_change":"16076767562.58","market_cap_change_pct":"0.0202"},"7d":{"volume":"285053482192.56","price_change":"-1779.91959155","price_change_pct":"-0.0396","volume_change":"-68424031583.98","volume_change_pct":"-0.1936","market_cap_change":"-33229056519.03","market_cap_change_pct":"-0.0393"},"30d":{"volume":"1501229383952.00","price_change":"-4016.91500949","price_change_pct":"-0.0851","volume_change":"60582416839.20","volume_change_pct":"0.0421","market_cap_change":"-74326025238.16","market_cap_change_pct":"-0.0838"},"365d":{"volume":"20820286374107.82","price_change":"32488.91109710","price_change_pct":"3.0425","volume_change":"10169627920263.41","volume_change_pct":"0.9548","market_cap_change":"615265768596.81","market_cap_change_pct":"3.1138"},"ytd":{"volume":"17974765187678.43","price_change":"10288.60469540","price_change_pct":"0.3129","volume_change":"9913887153571.93","volume_change_pct":"1.2299","market_cap_change":"201746032867.28","market_cap_change_pct":"0.3301"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"2974.30392372","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T14:38:00Z",[...]
