---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,XRP,ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35d3ca7c09f9794487f098683164e5ff5e8a574a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"43282.93240037","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T12:29:00Z","circulating_supply":"18830375","max_supply":"21000000","market_cap":"815033848199","market_cap_dominance":"0.3700","num_exchanges":"392","num_pairs":"65285","num_pairs_unmapped":"5163","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63657.52779947","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"38141895276.46","price_change":"1146.30344234","price_change_pct":"0.0272","volume_change":"-2601319797.46","volume_change_pct":"-0.0638","market_cap_change":"21621139817.66","market_cap_change_pct":"0.0273"},"7d":{"volume":"284121583546.73","price_change":"-1664.31639461","price_change_pct":"-0.0370","volume_change":"-69356244011.06","volume_change_pct":"-0.1962","market_cap_change":"-31048668393.17","market_cap_change_pct":"-0.0367"},"30d":{"volume":"1500306562018.69","price_change":"-3901.31181255","price_change_pct":"-0.0827","volume_change":"59659594905.89","volume_change_pct":"0.0414","market_cap_change":"-72149649431.78","market_cap_change_pct":"-0.0813"},"365d":{"volume":"20819363558639.31","price_change":"32604.51429404","price_change_pct":"3.0533","volume_change":"10168705104794.91","volume_change_pct":"0.9547","market_cap_change":"617439865638.21","market_cap_change_pct":"3.1248"},"ytd":{"volume":"17973842372209.92","price_change":"10404.20789235","price_change_pct":"0.3164","volume_change":"9912964338103.42","volume_change_pct":"1.2298","market_cap_change":"203918869855.34","market_cap_change_pct":"0.3337"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"2978.48641308","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T12:29:00Z",[...]
