---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=&ids=ETH,BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35d3ca7c09f9794487f098683164e5ff5e8a574a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"43155.73778785","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T17:36:00Z","circulating_supply":"18830618","max_supply":"21000000","market_cap":"812649212791","market_cap_dominance":"0.3702","num_exchanges":"392","num_pairs":"65290","num_pairs_unmapped":"5162","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63657.52779947","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"39009955433.24","price_change":"1815.88328740","price_change_pct":"0.0439","volume_change":"479113495.88","volume_change_pct":"0.0124","market_cap_change":"34232443882.95","market_cap_change_pct":"0.0440"},"7d":{"volume":"286887613522.99","price_change":"-1791.51100713","price_change_pct":"-0.0399","volume_change":"-66589922968.39","volume_change_pct":"-0.1884","market_cap_change":"-33444810296.35","market_cap_change_pct":"-0.0395"},"30d":{"volume":"1503063550867.51","price_change":"-4028.50642507","price_change_pct":"-0.0854","volume_change":"62416583754.71","volume_change_pct":"0.0433","market_cap_change":"-74542258976.53","market_cap_change_pct":"-0.0840"},"365d":{"volume":"20822120541121.73","price_change":"32477.31968152","price_change_pct":"3.0414","volume_change":"10171462087277.33","volume_change_pct":"0.9550","market_cap_change":"615052763516.14","market_cap_change_pct":"3.1127"},"ytd":{"volume":"17976599354692.34","price_change":"10277.01327983","price_change_pct":"0.3126","volume_change":"9915721320585.84","volume_change_pct":"1.2301","market_cap_change":"201534234447.86","market_cap_change_pct":"0.3298"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"2987.55607992","price_date":"2021-09-30T00:00:00Z","price_timestamp":"2021-09-30T17:36:00Z",[...]
